@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.racing-sans-one-regular {
  font-family: "Racing Sans One", sans-serif ;
  font-weight: 400;
  font-style: normal;
}

.navbar li{
    color: white;
    padding: 12px;
    border-radius: 50px;
}

.navbar li:hover{
    background-color: #cf86918f;
    cursor: pointer
}

.buttons Button{
    padding: 12px;
    background-color: white;
    color: black;
    margin-top: 12px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.buttons Button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.695);
}
